/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* <style>{` */
.scrollbar-hidden::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
      /* `}</style> */