/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply custom-scrollbar; /* apply Tailwind + our scrollbar */
}

/*  white scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* slim scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* no background track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.6); /* white but a bit transparent */
  border-radius: 9999px; /* pill shape */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.9); /* brighter on hover */
}

/* Firefox support */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.6) transparent;
}
